:80 {
    reverse_proxy localhost:4321

    encode gzip zstd

    header {
        Permissions-Policy "interest-cohort=()"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
    }
}